body {
    background-color: #dedede;
    display: grid;
    grid-template-areas:
        "header header header header"
        "nav nav nav nav"
        "main main main aside"
        "footer footer footer aside";
    grid-template-rows: 1fr .25fr 4fr 1fr;
}

body > * {
    border: solid 1px #333;
    color: #fff;
    font-size: 2em;
    text-align: center;
    padding: 10px;
    background-color: #702323;
}

header {
    background-color: #F24B4B;
    grid-area: header;
}

nav {
    background-color: #F00202;
    grid-area: nav;
}

aside {
    background-color: #F0373D;
    grid-area: aside;
}

footer {
    background-color: #BD0101;
    grid-area: footer;
}

main {
    grid-area: main;
}